<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="QL_HolyBird.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="HolyBirdConn"
             connectionString="Data Source=PHCT59MTJJ\MSSQLSERVER01; Initial Catalog=HolyBird; Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	<userSettings>
		<QL_HolyBird.Properties.Settings>
   <setting name="DinhDangNgay" serializeAs="String">
    <value>dd/MM/yyyy</value>
   </setting>
   <setting name="DonViTienTe" serializeAs="String">
    <value>VND</value>
   </setting>
   <setting name="NgonNgu" serializeAs="String">
    <value>Tiếng Việt</value>
   </setting>
   <setting name="ThueVAT" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="GioCheckIn" serializeAs="String">
    <value>14:00</value>
   </setting>
   <setting name="GioCheckOut" serializeAs="String">
    <value>12:00</value>
   </setting>
   <setting name="TiGiaUSD" serializeAs="String">
    <value>25000</value>
   </setting>
  </QL_HolyBird.Properties.Settings>
	</userSettings>
</configuration>
